<h2>Details of <%= @listing.title %></h2>

<p><%= @listing.location %></p>
<p><%= @listing.content %></p>
<p><%= @listing.price %></p>

<p><%= link_to "Edit Listing", edit_listing_path(@listing) %></p>
<p><%= link_to "Back to Listings", listings_path %></p>
