<div class="container pt-5 mt-4 mb-4">
  <div class="row">
<h2><%= @booking.listing.title %></h2>
<h4><%= @booking.listing.location %></h4>
<img class="img" src="<%= @booking.listing.image %>" alt="" width="300" height="300">
<p></p>
<p>Check In Date: <%= @booking.start_date %> - Check Out Date: <%= @booking.end_date %></p>

</div>
<h3>New review</h3>
<%= simple_form_for [@booking, @review] do |f| %>
  <%= f.input :content %>
  <%= f.input :rating, input_html: { min: '0', max: '5', :style=> 'width: 50%' } %>
  <%= f.submit "Submit review", class: "btn btn-primary" %>
<% end %>
<p></p>
<div class ="row">
 <div class='col-md-3 mb-4'>
 <p><%= link_to 'Edit Booking', edit_booking_path(@booking) %></p>
 </div>
  <div class='col-md-3 mb-4'>
   <p><%= link_to 'Delete Booking', booking_path, data: {turbo_method: :delete, turbo_confirm: "Are you sure?"} %></p>
 </div>
  <div class='col-md-3 mb-4'>
   <p><%= link_to "Cancel", :back %></p>
 </div>
</div>
</div>
