<h2><%= @booking.listing.title %></h2>
<h4><%= @booking.listing.location %></h4>
<img src="<%= @booking.listing.image %>" alt="">
<p>Start Date: <%= @booking.start_date %></p>
<p>End Date: <%= @booking.end_date %></p>
<p><%= link_to 'Edit Booking', edit_booking_path(@booking) %></p>
<p><%= link_to 'Delete Booking', booking_path, data: {turbo_method: :delete, turbo_confirm: "Are you sure?"} %></p>
